@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Dekko&display=swap");

.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #e0f2e9;
}
